*.dat
*.egg*
*.gz
*.log
*.py[co]
*egg
*info
*~
.arc
.coverage
.DS_Store
.ropeproject
build
config/local_settings.py
doc/_*
doc/cover
firehoselog
nose*
profiler
Realertime.sublime-workspace
test_results
